@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --main-color: #42b983;
  --main-color-dark: #128652;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.extrabold {
  font-weight: 800 !important;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}

input:not([type="checkbox"]),
textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  background: white;
}
input:not([type="checkbox"]),
textarea,
input:not([type="checkbox"])::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
input:not([type="checkbox"]):focus {
  border: 1px solid var(--main-color);
}

button[type="submit"] {
  border: 0;
  outline: 0;
  padding: 10px 35px;
  border-radius: 25px;
  background: var(--main-color);
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: var(--main-color-dark);
}

.card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 5px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
}

.card-footer button {
  background: transparent;
  color: var(--main-color);
  font-weight: 600;
  font-size: 1rem;
  border: 0;
  outline: 0;
}
.card-footer button:hover {
  color: var(--main-color-dark);
}


